NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBYSc1r-CKf3q4OqKDodPDPVrOiSjkOa2I
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=uno-panel.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=uno-panel
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=uno-panel.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=573624273258
NEXT_PUBLIC_FIREBASE_APP_ID=1:573624273258:web:38b0bdfac298f295bdbd13
